html {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

/* nav section */

header {
    padding: 3%;
    height: 10%;
}

nav {
    display: flex;
    padding: 0% 7%;
    background-color: #32c649;
    border-radius: 10px;
    color: #3b3c4b;
    max-height: 60px;
    min-height: 60px;
}

#menuContent {
    display: flex;
    width: 100%;
    transform: translateY(0);
    animation: slideIn 1s backwards;
}

#menuContent li {
    flex: 1;
    text-align: center;
    list-style: none;
}

#menuContent li a {
    display: block;
    font-size: 25px;
    font-family: 'Redressed', cursive;
    margin: 0% 2%;
    transition: all .3s cubic-bezier(0.71, 1.41, 0.71, 1.4);
    text-decoration: none;
}

#menuContent li a:visited {
    color: #3b3c4b;
    text-decoration: none;
}

#menuContent li a:hover {
    font-size: 40px;
    margin: -3% 1%;
    color: #000;
}

#menuIcon {
    display: flex;
    font-size: 35px;
}

#menuIcon:hover {
    transition: all .5s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

body {
    margin: 0% 0%;
    width: 100%;
    min-height: 100%;
    color: #F5F6Fa;
    background-color: #3b3c4b;
}

h1 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 30px;
}

h3 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 20px;
}

#application {
    display: none;
}

/* Loading page */

/* 
#loadingSection {
    width: 100%;
    height: 100%;
    background-color: brown;
    z-index: 1;
} */

#loadingSection {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loadingSection h3 {
    margin-top: 0%;
}

#loader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}

#loadingAnim {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #32c649;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

/* Standard buttons style */

.buttons {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    min-width: 165px;
    max-width: 300px;
    display: block;
    transition: .5s;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #282828;
    background-color: #d797c9;
    margin: auto;
    flex: 1;
    max-height: 40px;
}

.buttons:hover {
    box-shadow: 4px 5px 5px black;
    cursor: pointer;
}

.buttons:active {
    background-color: #F2F2F2;
    box-shadow: 4px 6px #F2E205;
}

.dragSection {
    margin: 5%;
    padding: 5%;
    background-color: azure;
    display: flex;
    flex-direction: row;
}

/* Home Page */

#greeting {
    font-size: 60px;
}

#scheduleDisplaySection {
    padding: 2% 5%;
    display: flex;
    flex-wrap: wrap;
}

#scheduleDisplaySection #scheduleEvent {
    flex: 1;
    min-width: 25%;
}

.event {
    margin: 0% 10%;
    background-color: #32C649;
    border-radius: 10px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    transition: .5s;
}

.event:hover {
    cursor: pointer;
    box-shadow: 4px 5px 5px black;
}

.event h1 {
    padding: 3%;
    margin: auto;
    color: #3b3c4b;
}

.event h3 {
    padding: 3%;
    margin: auto;
    color: #3b3c4b;
}

#homeOptions {
    padding: 3%;
    display: flex;
}

/* Profile */

.user {
    display: flex;
    padding: 1% 5%;
}

.userInfoSection .user img {
    width: 30%;
    border-radius: 50px;
}

.userInfo {
    flex: .5;
    display: flex;
    flex-direction: column;
}

.userInfo h1 {
    flex: 1;
    text-align: left;
    margin: 0% 5%;
}

.userInfo h3 {
    flex: .5;
    text-align: left;
    margin: 0% 5%;
}

/* Friends */

.friendOptions {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.userInfo h2 {
    text-align: left;
    margin: 7% 10%;
}

#searchButtonSec {
    padding: 5%;
}

/* Event Pages */

.element {
    margin: 3%;
    padding: 3%;
    background-color: cadetblue;
}

#eventDetailSection {
    height: 500px;
    width: 80%;
    margin: 2% 10%;
}

#boxShadow {
    width: auto;
    height: inherit;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: 300;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.6942752100840336) 0%, rgba(255, 255, 255, 0) 100%);
}

#eventName {
    font-family: 'Kreon', serif;
    font-size: 90px;
    letter-spacing: 5px;
    text-transform: capitalize;
    padding-top: 5%;
    font-weight: inherit;
}

#attendeesTitle {
    margin: 2% 10%;
    text-align: left;
}

#eventImage {
    background-image: url("/Images/eventPageBkg.jpg");
    background-repeat: no-repeat;
    height: inherit;
    border-radius: 15px;
}

#location {
    margin: 0% 10%;
}

#map {
    height: 600px;
    width: 80%;
    margin: 3% 10%;
    margin-top: 1%;
    border-radius: 15px;
}

#attendeesSection {
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    margin: auto;
}

#addedAttendeeSection {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.attendeeCard {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
}

.attendee {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.attendeeCard:hover .attendee {
    transform: rotateX(180deg);
}

.attendeeFront, .attendeeBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.attendeeFront img {
    width: inherit;
    max-height: 250px;
    border-radius: 15px;
}

.attendeeBack {
    background-color: #8088b4;
    color: #F5F6Fa;
    transform: rotateX(180deg);
    border-radius: 15px;
}

.attendee h2 {
    /* margin: 0% 2%; */
    font-size: 40px;
    text-align: center;
}

.closeBtn {
    padding-left: 10px;
    color: #1C2C40;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    flex: 1;
    transition: .5s;
}

.closeBtn:hover {
    color: red;
}

#creatorOptions {
    display: none;
    padding: 3%;
}

.optionImages {
    text-align-last: center;
    flex: 1;
    min-height: 300px;
}

.optionImages img {
    width: 30%;
    transition: all .3s;
    cursor: pointer;
}

.optionImages img:hover {
    width: 38%;
}

.optionCon:hover h3 {
    visibility: visible;
    opacity: 1;
}

.optionCon h3 {
    flex: 1;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    width: fit-content;
    margin: auto;
    margin-bottom: 2%;
    padding: 5px 10px;
    font-size: larger;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s;
}

#specialOption {
    margin-bottom: 4%;
}

.optionCon h3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.request h2 {
    text-align: center;
}

.request section {
    display: flex;
}

.request section p {
    flex: 1;
    text-align: center;
}

.request section .buttons {
    flex: 1;
}

/* Attendee section */

#addedAttendeeSection {
    display: flex;
    flex-direction: row;
}

.AttendeeRepeat {
    margin: 2%;
}

/*invite Section*/

.invitations {
    background-color: #E0A214;
    margin: 0% 10%;
    border-radius: 15px;
}

.invitations h1 {
    text-align: center;
    padding-top: 5%;
    margin: 0px;
    font-size: 30px;
}

.invitations:hover {
    cursor: pointer;
}

#times {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
}

#map {
    text-align: center;
}

#optionsSection {
    display: flex;
}

/* Modal */

#modal {
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;
    margin-top: -100px;
    padding-top: 100px;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    background-color: rgba(38, 38, 38, 0.7);
    cursor: auto;
}

#modal #modalCont {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    border: #FFF 5px solid;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

#modal #modalCont .ModalH {
    padding: 25px 26px;
    background-color: #32c649;
    color: #3b3c4b;
    border-radius: 10px;
    border: #FFF 5px solid;
    text-align: center;
}

#modal #modalCont .ModalB {
    color: #262626;
    padding: 2px 16px;
}

#modal #modalCont .ModalB p {
    margin: 16px 0px;
}

#modal #modalCont .ModalF {
    padding: 24px 26px;
    background-color: #91b410;
    color: #F2F2F2;
}

#modal #modalCont .Close {
    cursor: pointer;
    color: #F2F2F2;
    float: right;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5;
}

#moda #modalCont .Close:hover, .modal .modalCont .Close:focus {
    color: #262626;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}