<section>
    <section id="searchSection">
        <input type="search" ng-model="searchTxt" placeholder="Enter username">
        <div class="buttons" ng-click="search()">Search</div>
    </section>
    <section class="userInfoSection">
        <section class="user">
            <h1>Username: {{user.username}}</h1>
            <img ng-src="{{user.img}}" />
            <section class="userInfo">
                <h3>Name: {{user.name}}</h3>
                <h3>Email: {{user.email}}</h3>
            </section>
            <div class="cardButtons" ng-click="addFriend()">
                <p>Add Friend</p>
                <div class="buttonTextLine"></div>
            </div>
        </section>
    </section>
</section>