<section id="createEvent">
    <section class="steps">
        <h1 class="stepTitle">The Basics</h1>
        <input ng-model="eventName" placeholder="Add Event Name"></input>
        <input ng-model="eventDescription" placeholder="Add Event Description"></input>
        <input ng-model="eventAddress" placeholder="Add Event Address"></input>
    </section>
    <section class="steps">
        <h1 class="stepTitle">Get The Time Right</h1>
        <input id="StartDate" type=text" ng-model="dateS" placeholder="Date Start">
        <input id="EndDate" type=text" ng-model="dateE" placeholder="Date End">
    </section>
    <section class="steps">
        <h2 id="attendeeTitle">Add an Attendee</h2>
        <input ng-model="addedAttendee" placeholder="Add Attendee"></input>
        <div class="buttons" ng-click="userAdd()">Add User to Event</div>
        <section id="addedAttendeeSection">
            <section ng-repeat="x in list" class="AttendeeRepeat">
                <div class="attendeeCard">
                    <div class="attendee">
                        <div class="attendeeFront">
                            <img ng-src="{{x.picture}}">
                        </div>
                        <div class="attendeeBack">
                            <h2>{{x.name}}</h2>
                            <h3>Accepted: {{x.hasAccepted}}</h3>
                            <div class="closeBtn" ng-click="remove($index)">&times;Remove</div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <section id="createEventOptions">
        <div id="back" ng-click="lastStep()">&#8656;</div>
        <div id="next" ng-click="nextStep()">&#8658;</div>
        <div id="subButton" ng-click="Submit()">&#10004;</div>
    </section>
</section>