<section id="eventView">
    <h1 ng-bind="event.e_Name"></h1>
    <h1 ng-bind="event.e_Master"></h1>
    <h3 ng-bind="event.e_Description"></h3>
    <h2 ng-bind="event.e_Location"></h2>
    <h2>Who's going to be there?</h2>
    <section id="addedAttendeeSection">
        <section ng-repeat="x in list" class="AttendeeRepeat">
            <div class="attendee">
                <h2>{{x}}</h2>
            </div>
        </section>
    </section>
    <section>
        <h3 ng-bind="event.e_Start_Time"></h3>
        <h3 ng-bind="event.e_End_Time"></h3>
    </section>
    <div class="buttons" ng-click="editEvent()">Edit Event</div>
    <div class="buttons" ng-click="deleteEvent()">Delete Event</div>
</section>