<section>
    <h1>Current Friends</h1>
    <section ng-repeat="x in friends" class="userInfoSection">
        <div class="user">
            <img ng-src="{{x.img}}" />
            <h2>{{x.username}}</h2>
            <h2>{{x.email}}</h2>
        </div>
        <div class="buttons" ng-click="deleteFriend($index)">Remove Friend</div>
    </section>
    <h1>Friend Requests</h1>
    <section ng-repeat="x in friendRequests" class="userInfoSection">
        <div class="user">
            <img ng-src="{{x.img}}" />
            <h2>{{x.username}}</h2>
            <h2>{{x.email}}</h2>
        </div>
        <div class="buttons" ng-click="addFriend($index)">Accept Request</div>
        <div class="buttons" ng-click="declineFriend($index)">Decline Request</div>
    </section>
</section>