<section>
    <h1 id="greeting"></h1>
    <h1 ng-bind="test"></h1>
    <section id="scheduleSection">
        <h1 ng-show="!events.length">No plans, for now!</h1>
        <h3 ng-show="events.length">
            Here's your events!
        </h3>
        <section id="scheduleDisplaySection">
            <section id="scheduleEvent" ng-repeat="x in events">
                <section class="event" ng-click='viewEvent($index)'>
                    <h1>{{x.e_Name}}</h1>
                    <h3>{{x.e_Start_Time}}</h3>
                </section>
            </section>
        </section>

    </section>
    <section id="homeOptions">
        <div class="buttons" ng-click="createEvent()">
            Create Event
        </div>
        <div class="buttons" ng-click="singOut()">
            Sign Out
        </div>
    </section>
</section>