<div>
    <section class="logSingSection">
        <h1>Login to Planned-It</h1>
        <input type="text" id="email" placeholder="Email">
        <input type="password" id="password" placeholder="Password">
        <section id="inputSection">
            <div id="login" ng-click="login()" id="login">Login</div>
            <div id="signUpLink">
                <p>Don't Have an account?</p>
                <p ng-click="singup()" id="signUp">Make one!</p>
            </div>
        </section>
        </seSction>
</div>