<section class="viewInvite">
    <h1>{{event.e_Name}}</h1>
    <h1>{{event.e_Master}}</h1>
    <h3 id="discription">{{event.e_Description}}</h3>
    <section id="times">
        <h2>Times</h2>
        <h4>{{event.e_Start_Time}} - {{event.e_End_Time}}</h4>
    </section>
    <section id="attendees">
        {{attendeesTittle}}
        <section ng-repeat="x in event.schedule" class="AttendeeRepeat">
            <div class="attendee">
                <h2>{{x}}</h2>
            </div>
        </section>
    </section>
    <section id="map">
        <h2>{{event.e_Location}}</h2>
    </section>
    <section id="optionsSection">
        <div class="buttons" ng-click="accept()">Accept Invite</div>
        <div class="buttons" ng-click="decline()">Decline Invite</div>
        <div class="buttons" ng-click="counterReq()">Send Counter Request</div>
    </section>
</section>